body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Montserrat', sans-serif;
}
.leaflet-container {
  margin-top: 10px;
  min-height:500px;
  min-width: 200px;
  height: 70%;
  width: 90%;
  border-radius: 40px;
  position: relative;
}
.leaflet-control-zoom, .leaflet-bar, .leaflet-control{
  border-radius: 50px;
  overflow: hidden;
}
.leaflet-control-attribution{
  display: none;
}
@media (max-width: 1250px) {
  .leaflet-container {
    height: 50%;
    width: 100%;
    border-radius: 40px;
    position: relative;
  }
}